@font-face {
    font-family: Bogart;
    src: url(./fonts/bogart/Bogart-Regular-trial.woff) format(woff);
    src: url(./fonts/bogart/Bogart-Light-Italic-trial.woff) format(woff);
  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-family:
      Montserrat Alternates,
      Arial,
      Helvetica,
      sans-serif;
  }

section {
  border-bottom: 2px solid cadetblue;
  padding: 100px 30px 100px 30px;

}
  